body {
    font-size: 12px;
    color: $text-color;
}

// Webkit --> Chrome y Edge | Moz --> Mozilla | O --> Opera
// Por ejemplo, rotar un div se hace con un trasnform
@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -o-transform:$property;
    transform: $property;
}

@mixin vendor($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};}

.div {
    @include transform((rotate(180deg)));
}

div.hola {
    @include vendor("transform", (rotate(180deg)));
    @include vendor("border-radius", '20%');

}

// @mixin dividirPantalla() {
//     @for $i from 1 through 12 {
//         .col-#{$i} {
//             float:left;
//             width: 8.33%;
//         },
//     }
// }

// #pantalla {
//     @include dividirPantalla();
// }

@for $i from 1 through $columnas {
    .col-#{$i} {
        float:left;
        // width: 8.33333333333% * $i;
        width: calc(100% / $columnas * $i);
        padding: 15px;
    }
}

.menu {
    width: 100px;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  
    li {
      background-color: $menu-bg-color;
      margin: 8px;

    }

    li:hover {
        background-color: $menu-bg-color-hover;
    }
  }