body {
  background-color: grey;
}

div#imatges {
  background-color: blueviolet;
  padding: 5px;
  margin:5px;
  height: 500px;

  position: relative;
}

p#titol {
  font-size: 3rem;
  text-decoration: underline;
  font-style: italic;
  margin: 5px;

  position: fixed;

  /* CSS AL DAVALL */
  left: 200px;

}

h2 {
  font-size: 40px;
  color: white;
  margin: 0px;

  position: relative;

  /* CSS AL DAVALL */

  top: 100px;
}


img#model {
  position: absolute;

  /* CSS AL DAVALL */
  margin-top: 20px;
  margin-left: 20px;
}

img#scissors {
  position: absolute;

  /* CSS AL DAVALL */
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.description {
  font-size: 2em;
  color: yellowgreen;

  position: relative;

/* CSS AL DAVALL */

bottom: 50px;
left: 15px;

}
