body {
  background-color: grey;
}

div#imatges {
  background-color: blueviolet;
  padding: 5px;
  margin:5px;
  height: 500px;

  position: relative;
}

p#titol {
  font-size: 3rem;
  text-decoration: underline;
  font-style: italic;
  margin: 5px;

  position: fixed;

  /* CSS AL DAVALL */
  left: 4em; /* Muevo el texto a la derecha */
  z-index: 1; /* POngo el texto una capa por encima del resto para que se vea el subrayado */

}

h2 {
  font-size: 40px;
  color: white;
  margin: 0px;

  position: relative;

  /* CSS AL DAVALL */

  top: 2em; /* Muevo el texto encima de la foto de la modelo */
  left: 1.5em;
}


img#model {
  position: absolute;

  /* CSS AL DAVALL */
  margin-top: 1em; /* Ajusto márgenes de la foto  */
  margin-left: 2em;
  z-index: 2;  /* Aplico z-index para que la foto este encima del texto y se tape*/
}

img#scissors {
  position: absolute;

  /* CSS AL DAVALL */
  bottom: 0; /* Coloco la foto en el sitio que le corresponde */
  right: 0;
  margin-bottom: 1.5em; /* Aplico márgenes */
  margin-right: 1.5em;
}

.description {
  font-size: 2em;
  color: yellowgreen;

  position: relative;

/* CSS AL DAVALL */

bottom: 2em; /* Coloco el texto donde corresponde */
left: 1em;

}
