// Header
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";

// Navbar
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

// Layout
@use "@material/layout-grid/mdc-layout-grid";

// Cards
@use "@material/card";

// Buttons
@use "@material/button/styles";

// Header
@import "@material/icon-button/mdc-icon-button";

// Cards
@include card.core-styles;

h1 {
    margin-left: 30px;
}

.mdc-card {
  ul.kittens {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    img.kitten {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }   
  }
}



body {
  background-image: url("../img/background.png");
}

.wrapper {
  text-align: right;
  padding-right: 20px;

  .search {
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
  }
}
