body {
  margin: 0;
}

%p {
  text-justify: justify;
  margin: 0;
  color: $whiteOpacity;
}

.success {
  @extend %p;
  background-color: $success;
}

.warning {
  @extend %p;
  background-color: $warning;
}

.error {
  @extend %p;
  background-color: $error;
}

p {
  @extend %p;
  background-color: $normal;
  color: $blackOpacity;
}

h4 {
  background-color: $normal;
  color: $blackOpacity;
}

// Bucle for para los Hx
@for $i from 1 through 6 {
  h#{$i} {
    font-size: 2em - 0.2 * ($i - 1);
    margin: 0;
  }
}

// Colores personalizodos
@for $r from 0 through 10 {
  @for $g from 0 through 10 {
    @for $b from 0 through 10 {

      $rIncrementado: $r * 10;
      $gIncrementado: $g * 10;
      $bIncrementado: $b * 10;

      .color-#{$rIncrementado}-#{$gIncrementado}-#{$bIncrementado} {
        color: rgb($rIncrementado, $gIncrementado, $bIncrementado);
      }

      .colorbg-#{$rIncrementado}-#{$gIncrementado}-#{$bIncrementado} {
        background-color: rgb($rIncrementado, $gIncrementado, $bIncrementado);
      }
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}


td,
th {
  border: 1px solid #000000;

}



