// Basic colors
$success: darken(#2ecc72, 25%);
$warning: darken(#f1c40f, 25%);
$error: darken(#e74c3c, 25%);
$normal: lighten(#333333, 50%);


// Text Colors
$blackOpacity: rgba(0, 0, 0, 0.6);
$whiteOpacity: rgba(255, 255, 255, 0.6);


