// Basic colors
$success: #2ecc72;
$warning: #f1c40f;
$error: #e74c3c;
$normal: #333333;
$black: #000000;

// Text Colors
$blackOpacity: rgba(0, 0, 0, 0.6);
$whiteOpacity: rgba(255, 255, 255, 0.6);

// Strange Colors
$nuclearGreen: #80ff00;