body {
  margin: 0;
}

p, h4, .error, .warning, .success {
  text-justify: justify;
  margin: 0;
  color: white;
}

.success {
  background-color: #176438;
}

.warning {
  background-color: #796307;
}

.error {
  background-color: #921e12;
}

p, h4 {
  background-color: #b3b3b3;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}